{ "extends": "airbnb-base/legacy",
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "vars-on-top": 0,
    "no-plusplus": 0,
    "no-use-before-define": 0
  },
  "plugins": [
    "import"
  ],
  "settings": {
  },
  "globals": {
  }
}