<footer class="footer text-center text-muted">
  <p>
    <span><a href="{{ site.github_project }}">webmiddle</a></span>
     · 
    <span>MIT © <a href="{{ site.author_website }}">{{ site.author }}</a></span>
  </p>
  <p>
    Found an issue with the docs? Report it <a href="{{ site.issues }}">here</a>.
  </p>
</footer>