{{#markdown}}
### HTML/XML/JSON to JSON

The **HTML/XML to JSON** conversion is executed by the **CheerioToJson**
service, while the **JSON to JSON** conversion is executed by the
**JSONSelectToJson** service.

They both just pipe the resource through the respective “to virtual” and
“from virtual” services.

Here are the full implementation and properties of the **CheerioToJson**
service (the other one is almost identical):

```jsx
function CheerioToJson(props) {
  return (
    <Pipe>
      <CheerioToVirtual
        {...props}
        name="virtual"
      >
        {props.children}
      </CheerioToVirtual>

      {({ virtual }) =>
        <VirtualToJson
          name={props.name}
          from={virtual}
        />
      }
    </Pipe>
  );
}
```

<br />
**Properties**:

<table class="table table-bordered table-striped table-responsive">
  <thead>
    <tr>
      <td>Name</td>
      <td>Description</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>name</td>
      <td>The name of the returned resource.</td>
    </tr>
    <tr>
      <td>from</td>
      <td>The HTML/XML resource to convert.</td>
    </tr>
    <tr>
      <td>children</td>
      <td>The schema for the CheerioToVirtual conversion.</td>
    </tr>
  </tbody>
</table>
{{/markdown}}