{{#markdown}}
### Pipe

This is without any doubt the most used service, it allows to execute a
**sequence** of services, piping their results to the subsequent
services in the chain.

The services to execute are specified via **children**. In case a
function is specified, then such function is called with an object
containing all the resources retrieved up to that point. The resources
object can be seen as a map `<resource name, resource>`.

Every child service is supposed to return a **resource**, this is
ensured internally by setting the **expectResource** option to true.

The service resolves with the resource returned by the last child.

<br />
**Properties**:

<table class="table table-bordered table-striped table-responsive">
  <thead>
    <tr>
      <td>Name</td>
      <td>Description</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>children</td>
      <td>The tasks to execute.</td>
    </tr>
  </tbody>
</table>
{{/markdown}}