{{#markdown}}
### webmiddle objects

## OUTDATED ##

The framework provides a webmiddle class that can be used to create webmiddle objects.

Multiple components targeting websites, web APIs or collection of web resources can be grouped together into so called webmiddle objects, to be reusable in different applications.<br />
Each webmiddle object exposes settings accessible by all of its components and can be easily turned into a REST API for remote access.

A webmiddle can be seen as a container of related components plus settings
to support them, for example you may have a webmiddle for a site, a
webmiddle for a project and so on.

Moreover, by also setting the parent, you can create a **tree** of
webmiddle instances that can be used in more complex scenarios.

The components registered to a webmiddle are wrapped in a higher order component that is
associated to that webmiddle. This way the component will be able to use the webmiddle,
with its settings and components, during evaluation.

A webmiddle **application** will always have at least one webmiddle
object, i.e. a root object, which might even have no components
associated to it. The reasoning is that the system provides a way of
evaluating components that aren’t associated to any webmiddle; in such a
case, the root webmiddle takes ownership of the component for all the time
required to evaluate it.

The system is also able of creating webmiddle trees dynamically, meaning that when evaluating a component associated to another webmiddle, a parent correlation between the component webmiddle and the caller webmiddle will be established, this way the component will have access to any setting, option and component of the caller webmiddle as default.

See the [advanced section](/docs/advanced) for more info.

<br />
**Properties**:

<table class="table table-bordered table-striped table-responsive">
  <thead>
    <tr>
      <td>Name</td>
      <td>Description</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>name</td>
      <td>String used to identify the webmiddle. It is optional.</td>
    </tr>
    <tr>
      <td>parent</td>
      <td>A webmiddle instance that should be used as the webmiddle parent. It is optional.</td>
    </tr>
    <tr>
      <td>components</td>
      <td>An object with the format `<path : String, component>` containing the components that should be associated to the webmiddle, it shouldn’t be accessed directly (use the **component function** instead).</td>
    </tr>
    <tr>
      <td>settings</td>
      <td>An object with the instance settings, it shouldn’t be accessed directly (use the **setting function** instead).</td>
    </tr>
    <tr>
      <td>cookieManager</td>
      <td>Used as a jar to store and retrieve cookies, it is shared among all the webmiddle instances.</td>
    </tr>
  </tbody>
</table>

<br />
**Methods**:

-   **component(path : String)**<br />
    Returns the component with the given path. If there is no such component
    in the webmiddle, then the function is called recursively on the
    parent, if any.

-   **registerComponent(path, Component)<br />
    **Allows to add a component to a webmiddle, this is mainly used
    internally at construction time, but can also be used to add a
    component at a later time.

-   **log(…args)<br />
    **Utility logging function, the args are printed to the console. The
    log is skipped if the “verbose” setting is not true.

{{/markdown}}